.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  width: 20vmin;
  border-radius: 50%;
  object-fit: cover;
}

.App-img {
  background-color: white;
  height: 4vmin;
  width: 4vmin;
  display: inline-block;
  margin: 20px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-text {
  background: white;
  width: 25%;
  margin-bottom: 0;
  margin-top: 20px;
}